.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* ==========================INVENTORY=============================== */

#inventoryBox {;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#cardsScroll {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 0;
}

#playerStatsBox {
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* ========================================================= */


#topCharactersContainer,
#topBuildingsContainer,
#bottomCharactersContainer,
#bottomBuildingsContainer,
#turnOrderContainer,
#offerTrackContainer,
#deckContainer,
#topBar {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}