#root {

}

/* BOARD */

#boardRoot {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #208FA5;
    -fx-border-radius: 10px;
}

#boardRoot .scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#boardRoot .scroll-pane .viewport {
    -fx-background-color: transparent;
}

#boardRoot #skipButton {
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-text-fill: red;
    -fx-padding: 10px 20px;
    -fx-border-radius: 8px;
}

#boardRoot #skipButton:skip-disabled {
    -fx-background-color: #a8a8a8;
    -fx-border-color: grey;
    -fx-text-fill: #000000;
}

/* PLAYER */

#playerInventoryRoot {
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: #208FA5;
}

#playerInventoryRoot .scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#playerInventoryRoot .scroll-pane .viewport {
    -fx-background-color: transparent;
}